openapi: 3.0.3
info:
  title: NetSuite REST API
  version: '1.0.0'
  description: >
    An OpenAPI specification for NetSuite's REST API endpoints, including both
    standard and custom records.

servers:
  - url: https://9771141-sb1.suitetalk.api.netsuite.com/services/rest/record/v1
    description: SANDBOX (9771141-sb1)
  - url: https://9771141.suitetalk.api.netsuite.com/services/rest/record/v1
    description: PRODUCTION (9771141)

tags:
  - name: Customer
    description: Endpoints for managing customer records
  - name: Enduser
    description: Endpoints for managing enduser records
  - name: Bikeregistry
    description: Endpoints for managing bikeregistry records


paths:
  /customer:
    post:
      tags:
        - Customer
      summary: Create a new customer record
      description: Creates a customer record in NetSuite.
      operationId: createCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
      responses:
        '204':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
        '400':
          description: Validation or missing required field error
  /customer/{id}:
    get:
      tags:
        - Customer
      summary: Get an customer record by ID
      description: Retrieves an enduser record by its ID.
      operationId: getEnduserById 
  /enduser:
    post:
      tags:
        - Enduser
      summary: Create a new enduser record (use /customer endpoint)
      description: Creates an enduser record in NetSuite.
      operationId: createEnduser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnduserRequest' 
      responses:
        '204':
          description: Enduser created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnduserResponse'
        '400':
          description: Validation or missing required field error
  /enduser/{id}:
    get:
      tags:
        - Enduser
      summary: Get an enduser record by ID
      description: Retrieves an enduser record by its ID.
      operationId: getEnduserById 

  /bikeregistry:
    post:
      tags:
        - Bikeregistry
      summary: Create a new bikeregistry record
      description: Creates a bikeregistry record in NetSuite.
      operationId: createBikeregistry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BikeregistryRequest'
      responses:
        '204':
          description: Bikeregistry created
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/BikeregistryResponse'
        '400':
          description: Validation or missing required field error
  /bikeregistry/{id}:
    get:
      tags: 
        - Bikeregistry
      summary: Get a bikeregistry record by ID
      description: Retrieves a bikeregistry record by its ID.
      operationId: getBikeregistryById  


components:
  schemas:
    CustomerRequest:
      type: object
      properties:
        customform:
          type: string
          description: Custom form ID
        entityid:
          type: string
          description: Unique customer identifier
        isperson:
          type: boolean
          description: Indicates whether the customer is an individual or a company
        companyname:
          type: string
          description: Name of the company
        email:
          type: string
          format: email
          description: Customer's email address
        custentity_sta_tax_reg_number:
          type: string
          description: Tax registration number
        externalid:
          type: string
          description: External ID for reference
        custentity_sta_einv_businessid:
          type: string
          description: Electronic invoicing business ID
        comments:
          type: string
          description: Additional comments
        custentity_sta_hubspot_id:
          type: string
          description: HubSpot ID reference
        custentity_sta_customer_size:
          type: string
          description: Customer size category
        custentity_sta_organisation_type:
          type: string
          description: Organization type
        custentity_sta_credit_rating:
          type: string
          description: Credit rating
        custentity_sta_industry:
          type: string
          description: Industry classification
        custentity_sta_contract_id:
          type: string
          description: Contract ID
        custentity_sta_start_date:
          type: string
          format: date
          description: Contract start date
        custentity_sta_bikebenefitlimit:
          type: number
          format: float
          description: Bike benefit limit
        custentity_sta_rent_price:
          type: number
          format: float
          description: Rent price
        custentity_sta_handlingfee_price:
          type: number
          format: float
          description: Handling fee price
        custentity_sta_maint_not_allowed:
          type: boolean
          description: Indicates if maintenance is not allowed
        custentity_sta_einvoicing_delivery_metho:
          type: string
          description: E-invoicing delivery method
        custentity_sta_einvoice_routing_channel:
          type: string
          description: E-invoice routing channel
        custentity_sta_einvoicing_payer_operator:
          type: string
          description: E-invoicing payer operator
        custentity_sta_einvoicing_payer_ovt:
          type: string
          description: E-invoicing payer OVT
        custentity_sta_einvoice_language:
          type: string
          description: E-invoice language
        custentity_sta_invatch_req:
          type: boolean
          description: Invoice attachment required
        custentity_sta_rent_group_total:
          type: boolean
        custentity_sta_rent_by_enduser_ccs:
          type: boolean
        custentity_sta_handling_group_total:
          type: boolean
        custentity_sta_handling_by_enduser_ccs:
          type: boolean
        custentity_sta_leasing_fee:
          type: boolean
        custentity_sta_leasing_by_enduser_ccs:
          type: boolean
        custentity_sta_split_by_enduser_ccs:
          type: boolean
        custentity_sta_split_separate_billtos:
          type: boolean
        entitystatus:
          type: object
          properties:
            id:
              type: string
              description: Status ID
        subsidiary:
          type: object
          properties:
            id:
              type: string
              description: Subsidiary ID
        currency:
          type: object
          properties:
            id:
              type: string
              description: Currency ID
        language:
          type: object
          properties:
            id:
              type: string
              description: Language code
        addressbook:
          type: object
          properties:
            items:
              type: array
              items:
                type: object
                properties:
                  addressbookaddress:
                    type: object
                    properties:
                      attention:
                        type: string
                      addressee:
                        type: string
                      addr1:
                        type: string
                      addr2:
                        type: string
                      city:
                        type: string
                      zip:
                        type: string
                      country:
                        type: string
                      defaultBilling:
                        type: boolean
                      defaultShipping:
                        type: boolean

    CustomerResponse:
      allOf:
        - $ref: '#/components/schemas/CustomerRequest'
        - type: object
          properties:
            internalId:
              type: string
              description: NetSuite internal ID for the created/retrieved record
    EnduserRequest:
      type: object
      properties:
        customform:
          type: string
          description: Custom form ID
        entityid:
          type: string
          description: Unique enduser identifier
        isperson:
          type: boolean
          description: Indicates whether the enduser is an individual or a company
        firstname:
          type: string
          description: First name of the enduser
        lastname:
          type: string
          description: Last name of the enduser
        emailpreference:
          type: string
          description: Preferred email format (e.g., PDF)
        email:
          type: string
          format: email
          description: Enduser's email address
        comments:
          type: string
          description: Additional comments
        entitystatus:
          type: object
          properties:
            id:
              type: string
              description: Status ID
        subsidiary:
          type: object
          properties:
            id:
              type: string
              description: 1 = GBB, 2 = GBF
        currency:
          type: object
          properties:
            id:
              type: string
              description: Currency ID
        language:
          type: object
          properties:
            id:
              type: string
              description: fi_FI
        addressbook:
          type: object
          properties:
            items:
              type: array
              items:
                type: object
                properties:
                  addressbookaddress:
                    type: object
                    properties:
                      attention:
                        type: string
                        description: Attention line for the address
                      addressee:
                        type: string
                        description: Name of the addressee
                      addr1:
                        type: string
                        description: Address line 1
                      addr2:
                        type: string
                        description: Address line 2
                      city:
                        type: string
                        description: City name
                      zip:
                        type: string
                        description: Postal/ZIP code
                      country:
                        type: string
                        description: Country code
                      defaultBilling:
                        type: boolean
                        description: Indicates if this is the default billing address
                      defaultShipping:
                        type: boolean
                        description: Indicates if this is the default shipping address
      required:
        - entityid
        - isperson
        - email
    
    EnduserResponse:
      allOf:
        - $ref: '#/components/schemas/EnduserRequest'
        - type: object
          properties:
            internalId:
              type: string
              description: NetSuite internal ID for the created/retrieved record

