openapi: 3.0.3
info:
  title: NetSuite REST API
  version: '1.0.0'
  description: >
    An OpenAPI specification for NetSuite's REST API endpoints, including both
    standard and custom records.

servers:
  - url: https://9771141-sb1.suitetalk.api.netsuite.com/services/rest/record/v1
    description: SANDBOX (9771141-sb1)
  - url: https://9771141.suitetalk.api.netsuite.com/services/rest/record/v1
    description: PRODUCTION (9771141)

tags:
  - name: Customer
    description: Endpoints for managing customer records
  - name: Enduser
    description: Endpoints for managing enduser records
  - name: Bikeregistry
    description: Endpoints for managing bikeregistry records
  - name: Salesorder
    description: Endpoints for managing sales order records


paths:
  /customer:
    post:
      tags:
        - Customer
      summary: Create a new customer record
      description: Creates a customer record in NetSuite.
      operationId: createCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
      responses:
        '204':
          description: Customer created successfully
        '400':
          description: Validation or missing required field error
  /customer/{id}:
    get:
      tags:
        - Customer
      summary: Get a customer record by ID
      description: Retrieves a customer record by its ID.
      operationId: getCustomerById
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the customer to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
        '404':
          description: Customer not found
        '400':
          description: Invalid ID supplied
  /enduser:
    post:
      tags:
        - Enduser
      summary: Create a new enduser record (use /customer endpoint)
      description: Creates an enduser record in NetSuite.
      operationId: createEnduser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnduserRequest' 
      responses:
        '204':
          description: Enduser created successfully
        '400':
          description: Validation or missing required field error
  /enduser/{id}:
    get:
      tags:
        - Enduser
      summary: Get an enduser record by ID
      description: Retrieves an enduser record by its ID.
      operationId: getEnduserById
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the enduser to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnduserResponse'
        '404':
          description: Enduser not found
        '400':
          description: Invalid ID supplied
  /customrecord_sta_bike_register:
    post:
      tags:
        - Bikeregistry
      summary: Create a new bikeregistry record
      description: Creates a bikeregistry record in NetSuite.
      operationId: createBikeregistry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BikeregistryRequest'
      responses:
        '204':
          description: Bikeregistry created successfully
        '400':
          description: Validation or missing required field error
  /customrecord_sta_bike_register/{id}:
    get:
      tags:
        - Bikeregistry
      summary: Get a bikeregistry record by ID
      description: Retrieves a bikeregistry record by its ID.
      operationId: getBikeregistryById
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the bikeregistry to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BikeregistryResponse'
        '404':
          description: Bikeregistry not found
        '400':
          description: Invalid ID supplied
  /salesorder:
    post:
      tags:
        - Salesorder
      summary: Create a new sales order
      description: Creates a sales order record in NetSuite.
      operationId: createSalesOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesorderRequest'
      responses:
        '204':
          description: Sales order created successfully
        '400':
          description: Validation or missing required field error
  /salesorder/{id}:
    get:
      tags:
        - Salesorder
      summary: Get a sales order by ID
      description: Retrieves a sales order record by its ID.
      operationId: getSalesOrderById
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the sales order to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesorderResponse'
        '404':
          description: Sales order not found
        '400':
          description: Invalid ID supplied


components:
  schemas:
    AddressBook:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              addressbookaddress:
                type: object
                properties:
                  attention:
                    type: string
                    description: Attention line for the address
                  addressee:
                    type: string
                    description: Name of the addressee
                  addr1:
                    type: string
                    description: Address line 1
                  addr2:
                    type: string
                    description: Address line 2
                  city:
                    type: string
                    description: City name
                  zip:
                    type: string
                    description: Postal/ZIP code
                  country:
                    type: string
                    description: Country code
                  defaultBilling:
                    type: boolean
                    description: Indicates if this is the default billing address
                  defaultShipping:
                    type: boolean
                    description: Indicates if this is the default shipping address

    CustomerRequest:
      type: object
      properties:
        customform:
          type: string
          description: Use 81 for customer
        entityid:
          type: string
          description: Unique customer identifier
        isperson:
          type: boolean
          description: This property is always true for customer
        companyname:
          type: string
          description: Name of the company
        email:
          type: string
          format: email
          description: Customer's email address
        custentity_sta_tax_reg_number:
          type: string
          description: Tax registration number
        externalid:
          type: string
          description: External ID for reference
        custentity_sta_einv_businessid:
          type: string
          description: Electronic invoicing business ID
        comments:
          type: string
          description: Additional comments
        custentity_sta_hubspot_id:
          type: string
          description: HubSpot ID reference
        custentity_sta_customer_size:
          type: string
          description: Customer size category
        custentity_sta_organisation_type:
          type: string
          description: Organization type
        custentity_sta_credit_rating:
          type: string
          description: Credit rating
        custentity_sta_industry:
          type: string
          description: Industry classification
        custentity_sta_contract_id:
          type: string
          description: Contract ID
        custentity_sta_start_date:
          type: string
          format: date
          description: Contract start date
        custentity_sta_bikebenefitlimit:
          type: number
          format: float
          description: Bike benefit limit
        custentity_sta_rent_price:
          type: number
          format: float
          description: Rent price
        custentity_sta_handlingfee_price:
          type: number
          format: float
          description: Handling fee price
        custentity_sta_maint_not_allowed:
          type: boolean
          description: Indicates if maintenance is not allowed
        custentity_sta_einvoicing_delivery_metho:
          type: string
          description: E-invoicing delivery method
        custentity_sta_einvoice_routing_channel:
          type: string
          description: E-invoice routing channel
        custentity_sta_einvoicing_payer_operator:
          type: string
          description: E-invoicing payer operator
        custentity_sta_einvoicing_payer_ovt:
          type: string
          description: E-invoicing payer OVT
        custentity_sta_einvoice_language:
          type: string
          description: E-invoice language
        custentity_sta_invatch_req:
          type: boolean
          description: Invoice attachment required
        custentity_sta_rent_group_total:
          type: boolean
        custentity_sta_rent_by_enduser_ccs:
          type: boolean
        custentity_sta_handling_group_total:
          type: boolean
        custentity_sta_handling_by_enduser_ccs:
          type: boolean
        custentity_sta_leasing_fee:
          type: boolean
        custentity_sta_leasing_by_enduser_ccs:
          type: boolean
        custentity_sta_split_by_enduser_ccs:
          type: boolean
        custentity_sta_split_separate_billtos:
          type: boolean
        entitystatus:
          type: object
          properties:
            id:
              type: string
              description: Status ID
        subsidiary:
          type: object
          properties:
            id:
              type: string
              description: Subsidiary ID
        currency:
          type: object
          properties:
            id:
              type: string
              description: Currency ID
        language:
          type: object
          properties:
            id:
              type: string
              description: Language code
        addressbook:
          $ref: '#/components/schemas/AddressBook'

    CustomerResponse:
      allOf:
        - $ref: '#/components/schemas/CustomerRequest'
        - type: object
          properties:
            internalId:
              type: string
              description: NetSuite internal ID for the created/retrieved record
    EnduserRequest:
      type: object
      properties:
        customform:
          type: string
          description: Use 81 for enduser
        entityid:
          type: string
          description: Unique enduser identifier
        isperson:
          type: boolean
          description: This property is always false for enduser
        firstname:
          type: string
          description: First name of the enduser
        lastname:
          type: string
          description: Last name of the enduser
        emailpreference:
          type: string
          description: Preferred email format (e.g., PDF)
        email:
          type: string
          format: email
          description: Enduser's email address
        comments:
          type: string
          description: Additional comments
        entitystatus:
          type: object
          properties:
            id:
              type: string
              description: Status ID
        subsidiary:
          type: object
          properties:
            id:
              type: string
              description: 1 = GBB, 2 = GBF
        currency:
          type: object
          properties:
            id:
              type: string
              description: Currency ID
        language:
          type: object
          properties:
            id:
              type: string
              description: fi_FI
        addressbook:
          $ref: '#/components/schemas/AddressBook'
      required:
        - entityid
        - isperson
        - email
    
    EnduserResponse:
      allOf:
        - $ref: '#/components/schemas/EnduserRequest'
        - type: object
          properties:
            internalId:
              type: string
              description: NetSuite internal ID for the created/retrieved record
    BikeregistryRequest:
      type: object
      properties:
        custrecord_sta_bike_contract_id:
          type: string
          description: Bike contract identifier
        custrecord_sta_contract_employer:
          type: object
          properties:
            id:
              type: string
              description: Employer internal ID
        custrecord_sta_del_authoriz_sent:
          type: boolean
          description: Delivery authorization sent status
        custrecord_sta_employer_cntrct_price_lim:
          type: number
          format: float
          description: Employer contract price limit
        custrecord_sta_enduser:
          type: object
          properties:
            id:
              type: string
              description: Enduser internal ID
        custrecord_sta_enduser_cost_center:
          type: string
          description: Enduser cost center
        custrecord_sta_enduser_email:
          type: string
          format: email
          description: Enduser email address
        custrecord_sta_enduser_phone_num:
          type: string
          description: Enduser phone number
        custrecord_sta_invoice_frequency:
          type: integer
          description: Invoice frequency
        custrecord_sta_maintenances_not_allowed:
          type: boolean
          description: Flag indicating if maintenances are not allowed
        custrecord_sta_order_currency:
          type: object
          properties:
            id:
              type: string
              description: Currency internal ID
        name:
          type: string
          description: Record name
        isInactive:
          type: boolean
          description: Flag indicating if the record is inactive

    BikeregistryResponse:
      allOf:
        - $ref: '#/components/schemas/BikeregistryRequest'
        - type: object
          properties:
            links:
              type: array
              items:
                $ref: '#/components/schemas/Link'
            id:
              type: string
              description: Record internal ID
            scriptId:
              type: string
              description: Script ID of the record
            custrecord_sta_contract_employer:
              type: object
              properties:
                links:
                  type: array
                  items:
                    $ref: '#/components/schemas/Link'
                id:
                  type: string
                refName:
                  type: string
            custrecord_sta_enduser:
              type: object
              properties:
                links:
                  type: array
                  items:
                    $ref: '#/components/schemas/Link'
                id:
                  type: string
                refName:
                  type: string
            custrecord_sta_order_currency:
              type: object
              properties:
                links:
                  type: array
                  items:
                    $ref: '#/components/schemas/Link'
                id:
                  type: string
                refName:
                  type: string
            owner:
              type: object
              properties:
                links:
                  type: array
                  items:
                    $ref: '#/components/schemas/Link'
                id:
                  type: string
                refName:
                  type: string

    Link:
      type: object
      properties:
        rel:
          type: string
          description: Relation type of the link
        href:
          type: string
          format: uri
          description: URL of the resource

    SalesorderRequest:
      type: object
      properties:
        customForm:
          type: object
          properties:
            id:
              type: string
              description: Custom form ID (e.g., "111" for GBB Sales Order)
        entity:
          type: object
          properties:
            id:
              type: string
              description: Customer/vendor internal ID
        tranDate:
          type: string
          format: date
          description: Transaction date
        salesEffectiveDate:
          type: string
          format: date
          description: Sales effective date
        currency:
          type: object
          properties:
            id:
              type: string
              description: Currency internal ID
        subsidiary:
          type: object
          properties:
            id:
              type: string
              description: Subsidiary internal ID
        email:
          type: string
          format: email
          description: Email address for communications
        custbody_sta_deliverydate:
          type: string
          format: date
          description: Delivery date
        custbody_sta_credit_duedate:
          type: string
          format: date
          description: Credit due date
        custbody_promisedate:
          type: string
          format: date
          description: Promise date
        billAddressList:
          type: object
          properties:
            id:
              type: string
              description: Billing address ID
        shipAddressList:
          type: object
          properties:
            id:
              type: string
              description: Shipping address ID
        custbody_invoice_company_email:
          type: string
          format: email
          description: Invoice company email
        custbody_sta_einvoicing_payee_name:
          type: string
          description: E-invoicing payee name
        custbody_sta_einvoicing_payee_busin_id:
          type: string
          description: E-invoicing payee business ID
        custbody_sta_einvoicing_payee_vat:
          type: string
          description: E-invoicing payee VAT number
        custbody_sta_einvoicing_payee_edi:
          type: string
          description: E-invoicing payee EDI
        custbody_sta_einvoicing_payee_address:
          type: string
          description: E-invoicing payee address
        custbody_sta_einvoicing_payee_city:
          type: string
          description: E-invoicing payee city
        custbody_sta_einvoicing_payee_zip:
          type: string
          description: E-invoicing payee ZIP code
        custbody_sta_einvoicing_payee_country:
          type: string
          description: E-invoicing payee country

    SalesorderResponse:
      allOf:
        - $ref: '#/components/schemas/SalesorderRequest'
        - type: object
          properties:
            id:
              type: string
              description: Internal ID of the sales order
            tranId:
              type: string
              description: Transaction ID (e.g., SOGBB000002)
            links:
              type: array
              items:
                $ref: '#/components/schemas/Link'
            status:
              type: object
              properties:
                id:
                  type: string
                refName:
                  type: string
            subtotal:
              type: number
              format: float
              description: Subtotal amount
            total:
              type: number
              format: float
              description: Total amount including tax
            createdDate:
              type: string
              format: date-time
              description: Record creation timestamp
            lastModifiedDate:
              type: string
              format: date-time
              description: Last modification timestamp
            custbody_stc_amount_after_discount:
              type: number
              format: float
            custbody_stc_tax_after_discount:
              type: number
              format: float
            custbody_stc_total_after_discount:
              type: number
              format: float
            exchangeRate:
              type: number
              format: float
            billAddress:
              type: string
              description: Formatted billing address
            shipAddress:
              type: string
              description: Formatted shipping address

